<!-- 상단 소개글, 히어로 이미지 -->
<div class="top">
  <h1 class="top-heading">Express + MongoDB + Bootstrap</h1>
  <p class="top-body">(관리자 로그인) 게시물 작성 + 수정 + 삭제</p>
</div>

<img
  src="/img/top_img.jpg"
  alt="main_img"
  class="hero-image"
  width="840"
  height="400"
/>

<!-- 최근 게시물 -->
<section class="articles">
  <h2 class="articles-heading">최근 게시물</h2>
  <ul class="article-ul">
    <% data.forEach( post => { %>
    <li>
      <a href="/post/<%=post._id%>">
        <span><%=post.title%></span>
        <span class="article-list-date"><%=post.createAt.toDateString()%></span>
      </a>
    </li>
    <% }) %>
  </ul>
</section>
